/* Home section*/
body{
      font-family: 'Nunito', sans-serif;
      margin: 0;
}
.Person{
      background-image: url(images/shapes/shape-1.png);
      background-repeat: no-repeat;
     background-size: 15%;
     background-position: right;
     margin-right: 20px;
    
     
}

.flex-style{
      display: flex;
}
.half-width{
      width: 30%;
      margin-left: 156px;
     
      
}
.header{
      margin-top: 140px;
      border-left: 5px solid rgb(190, 27, 90);
      margin-left: 156px;
      border-radius: 2px;
}
.header h1{
      margin-left: 10px;
      padding-top: 40px;
      line-height: 5px;
     
}
.half-width img{
      width: 90%;
      padding-left: 160px;
      margin-top: 30px;
      
     
}
h1{
      font-size: 50px;
      line-height: 20px;
     
      
}
p{
      font-size: 17px;
      padding-bottom: 35px;
}
.hire{
      text-decoration: none;
      background-color:rgb(255, 144, 124);
      padding: 10px 40px;
      color: white;
      border-radius:5px;
      font-size: 16px;
     
}
.scroll{
      padding-top: 20px;
}

span{
      color: rgb(102, 82, 190);
}

/* Mission section*/

.Mission{
      background-image: url(images/shapes/shape-4.png);
      background-repeat: no-repeat;
     background-size: 20%;
     
}
h2{
      font-size: 40px;
      text-align: center;
      font-family: 'Poppins', sans-serif;
}

.Mission-box{
      width: 30%;
      margin-left: 10%;
     
      padding: 30px;
      background-color:#b7f9ff;
      border-radius: 40px;
}
.Mission-box img{
      width: 37%;
}
.Vission-box{
      width: 30%;
      margin-left: 1.5%;
     
      padding: 30px;
      background-color:#ffc5c5;
      border-radius: 40px;
}
.Vission-box img{
      width: 37%;
}
.Goals-box{
      width: 30%;
      margin-left: 1.5%;
      margin-right: 10%;
      padding: 30px;
      background-color:#FFF4D6;
      border-radius: 40px;
      
}
.Goals-box img{
      width: 37%;
}
h3{
      font-size: 22px;
}
/*About section*/
.about{
      background-image: url(images/shapes/shape-5.png);
      background-repeat: no-repeat;
     background-size: 12%;
     background-position-x: right;
     margin-top: 50px;
     margin-right: 20px;
}
.about-me img{
      width: 55%;
      margin-left: 156px;
      margin-top: 100px;
}
.know-more{
      padding-right: 190px;
      margin-top: 220px;
}
.know-more h1{
      font-size: 33px;
      font-family: 'Lobster', cursive;
      font-family: 'Nunito', sans-serif;
      font-family: 'Poppins', sans-serif;
}

/*Community Section*/
.community-pic img{
      width: 60%;
     padding-left: 90px;
      margin-top: 130px;
}
.commu-back{
      background-image: url(images/shapes/shape-6.png);
      background-repeat: no-repeat;
     background-size: 33%;
     background-position-x: right;
     
     
}
.community{
      margin-left: 156px;
      margin-top: 120px;
}

.community h3{
     font-size: 33px;
     font-family: 'Lobster', cursive;
     font-family: 'Nunito', sans-serif;
     font-family: 'Poppins', sans-serif;
     line-height: 20px;
}



/*project section*/

.pro{
      background-image: url(images/shapes/shape-1.png);
      background-repeat: no-repeat;
     background-size: 25%;
     background-position-x: left;

}
.projects{
    margin-top: 120px;
      text-align: center;
      margin-bottom: 80px;
      
}
.Coffe-shop{
      width: 30%;
      margin-left: 10%;
      margin-right: 10%;
      padding: 30px;
      box-shadow: 10px 20px 40px rgb(72, 83, 78);
      margin-top: 50px;
      background-color: rgb(255, 205, 172) ;
      margin-bottom: 90px;
}
.Coffe-shop img{
      width: 100%;
}

.Website{
      width: 30%;
      margin-left: 1.5%;
      margin-right: 10%;
      padding: 30px;
      box-shadow: 10px 20px 40px rgb(72, 83, 78);
      margin-top: 50px;
     
      background-color: rgb(230, 187, 255) ;
      margin-bottom: 90px;
}
.Website img{
      width: 100%;
}
/*footer section*/
footer{
      text-align: center;
      color: white;
      padding-bottom: 10px;
      padding-top: 10px;
      background-color: rgb(0, 0, 0);
      font-size: 20px;

}
footer h2{
      font-family: 'Lobster',cursive;
     
}
footer span{
      color: rgb(248, 91, 104);
}


