/* Home section*/
body{
      font-family: 'Nunito', sans-serif;
}

.flex-style{
      display: flex;
}
.half-width{
      width: 30%;
      margin-left: 156px;
      
}
.header{
      margin-top: 140px;
      border-left: 5px solid rgb(190, 27, 90);
      margin-left: 156px;
}
.header h1{
      margin-left: 10px;
     
}
.half-width img{
      width: 90%;
      padding-left: 160px;
      margin-top: 30px;
      
     
}
h1{
      font-size: 50px;
      
      
}
p{
      font-size: 17px;
      padding-bottom: 15px;
}
.hire{
      text-decoration: none;
      background-color:rgb(255, 144, 124);
      padding: 10px 40px;
      color: white;
      border-radius:5px;
      font-size: 16px;
     
}
.scroll{
      padding-top: 20px;
}

span{
      color: rgb(74, 16, 141);
}

/* Mission section*/

h2{
      font-size: 40px;
      text-align: center;
}

.Mission-box{
      width: 30%;
      margin-left: 10%;
     
      padding: 30px;
      background-color:#a3f6ff;
      border-radius: 20px;
}
.Mission-box img{
      width: 37%;
}
.Vission-box{
      width: 30%;
      margin-left: 1.5%;
     
      padding: 30px;
      background-color:#ffb6b6;
      border-radius: 20px;
}
.Vission-box img{
      width: 37%;
}
.Goals-box{
      width: 30%;
      margin-left: 1.5%;
      margin-right: 10%;
      padding: 30px;
      background-color:#FFF4D6;
      border-radius: 20px;
      
}
.Goals-box img{
      width: 37%;
}
h3{
      font-size: 22px;
}
/*About section*/
.about-me img{
      width: 60%;
      margin-left: 156px;
      margin-top: 90px;
}
.know-more{
      padding-right: 200px;
      margin-top: 90px;
}
.know-more h1{
      font-size: 33px;
    
}
/*Community Section*/
.community-pic img{
      width: 60%;
     padding-left: 90px;
      margin-top: 90px;
}
.community{
      margin-left: 156px;
      margin-top: 90px;
}

.community h3{
     font-size: 33px;
}

/*project section*/
.projects{
    
      text-align: center;
      
}
.Coffe-shop{
      width: 30%;
      margin-left: 10%;
      margin-right: 10%;
      padding: 30px;
      box-shadow: 10px 20px 40px rgb(72, 83, 78);
      margin-top: 50px;
      background-color: rgb(255, 205, 172) ;
      margin-bottom: 80px;
}
.Coffe-shop img{
      width: 100%;
}
.Website{
      width: 30%;
      margin-left: 1.5%;
      margin-right: 10%;
      padding: 30px;
      box-shadow: 10px 20px 40px rgb(72, 83, 78);
      margin-top: 50px;
     
      background-color: rgb(230, 187, 255) ;
      margin-bottom: 80px;
}
.Website img{
      width: 100%;
}